# 環境
jphacks_env/
__pycache__/
*.pyc
*.env
venv

# プライバシー
modules/my_socket/my_config.py
photo.jpg
voice.wav

# セキュリティ
credentials.json
token.json

# その他
status.csv
.vscode
test_code/
cheat_cmd.txt
Unity/unity_pc_test.py
