# environment
jphacks_env/
__pycache__/
*.pyc
*.env
venv

# privacy
modules/my_socket/my_config.py
photo.jpg
voice.wav

# security
credentials.json
token.json

# others
status.csv
.vscode
test_code/
cheat_cmd.txt
Unity/unity_pc_test.py
test.py
crontab.log
main_demo.py
