speech_recognition
# sudo apt-get install flac
opencv-python
google-auth
google-auth-oauthlib
google-api-python-client
# sudo apt-get install portaudio19-dev
pyaudio
pandas
matplotlib
# sudo apt install cec-utils -y